@import "leaflet/dist/leaflet.css";
@import "./fonts.css";

.leaflet-container {
  width: 100vw;
  height: 100vh;
  background: transparent;
}

/* Styling for the zoom in/out buttons on the map screen */
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font-family: var(--font-poppins) !important;
  background-color: #4c4c4c !important;
  color: #bebebe !important;
  font-size: 18px !important;
  font-weight: normal !important;
}
